# Dependencies
node_modules/
backend/node_modules/

# Environment Variables
.env
*.env
backend/.env

# Ignore Frontend until team starts frontend phase
frontend/

# Ignore tech stack documentation
TECH_STACK.md

# Uploaded Files
backend/uploads/*
!backend/uploads/.gitkeep

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
